<div class="row" *ngIf="loader">
  <div class="col-12 col-sm-12 mt-5 mb-5">
    <div class="card border-0 bg-light">
      <div class="card-body">
        <div class="d-flex flex-row align-items-start">
          <div class="d-flex flex-row">
            <div class="mr-4">
              <img src="../assets/img/greeting.png" height="64px" width="auto" />
            </div>
            <div>
              <p class="h6">Hi, {{currentUserName}}</p>
              <p>Welcome to the Administrator Panel!</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 col-sm-12 col-md-12 col-lg-12">
    <tabset>
      <tab heading="Assign Products to Users" id="tab1">
        <div class="row d-flex mt-4">
          <div class="col-12 col-sm-12">
            <div class="card-deck">
              <div class="card admin-tile p-3">
                <div class="card-body pt-0">
                  <form [formGroup]="productUserForm" (ngSubmit)="addUserToProject()">
                    <div class="form-group" style="min-width:320px;">
                      Select Product
                      <ng-select class="custom-select" (ngModelChange)="getNoneProductUsers()" [items]="products" bindLabel="name" bindValue="id"
                        formControlName="product">
                      </ng-select>
                    </div>
                    <div class="form-group" style="min-width:320px;">
                      Select Users
                      <ng-select class="custom-select" [multiple]="true" [closeOnSelect]="false" [items]="users"
                        bindLabel="email" bindValue="id" formControlName="userIds">
                      </ng-select>
                    </div>
                    <button type="submit" class="btn btn-primary d-flex">
                      Save
                    </button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </tab>
      <tab heading="Add New Products">
        <div class="row d-flex mt-4">
          <div class="col-12 col-sm-12">
            <div class="card-deck">
              <div class="card admin-tile p-3">
                <div class="card-body pt-0">
                  <form [formGroup]="productForm" (ngSubmit)="addProduct()">
                    <div class="form-group" style="min-width:320px;">
                      Product Name
                      <input class="form-control" formControlName="name" type="text" style="width: 100%;">
                    </div>
                    <div class="form-group" style="min-width:320px;">
                      Product Description
                      <textarea class="form-control" formControlName="description" type="text"
                        style="width: 100%;"></textarea>
                    </div>
                    <div class="form-group" style="min-width:320px;">
                      Select Organization
                      <ng-select class="custom-select" [items]="organizations" bindLabel="name" bindValue="id"
                        formControlName="organization">
                      </ng-select>
                    </div>
                    <div class="form-group" style="min-width:320px;">
                      Select Users
                      <ng-select class="custom-select" [multiple]="true" [closeOnSelect]="false" [items]="users"
                        bindLabel="email" bindValue="id" formControlName="userIds">
                      </ng-select>
                    </div>
                    <button type="submit" class="btn btn-primary d-flex">
                      Save
                    </button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </tab>
      <tab heading="Add New Organization">
        <div class="row d-flex mt-4">
          <div class="col-12 col-sm-12">
            <div class="card-deck">
              <div class="card admin-tile p-3">
                <div class="card-body pt-0">
                  <form [formGroup]="organizationForm" (ngSubmit)="addOrganization()">
                    <div class="form-group" style="min-width:320px;">
                      Organization Name
                      <input class="form-control" formControlName="name" type="text" style="width: 100%;">
                    </div>
                    <div class="form-group" style="min-width:320px;">
                      Organization Email
                      <input class="form-control" formControlName="email" type="email" style="width: 100%;">
                    </div>
                    <div class="form-group" style="min-width:320px;">
                      Organization Phone
                      <input class="form-control" formControlName="phone" type="text" style="width: 100%;">
                    </div>
                    <button type="submit" class="btn btn-primary d-flex">
                      Save
                    </button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </tab>
    </tabset>
  </div>
</div>

<div *ngIf="!loader" class=""
  style="width:100%; height:calc(100vh - 56px); position: relative; display: flex; align-items: center; justify-content: center;">
  <ngx-spinner bdOpacity=1 bdColor="rgba(255,255,255,1)" size="medium" color="#cf46ff" type="fire" [fullScreen]="false">
  </ngx-spinner>
</div>